#encabezado{
    text-align: center;
    font-weight: 500;
    letter-spacing: 20px;
}

#calendario{
    display: grid;
    grid-template-columns: repeat(7,159px);
    grid-template-areas: 
    "semana"  
    "semana2" 
    "semana3" 
    "semana4" 
    "semana5"
    ;
    align-items: center;
    text-align: center; 
}

.titulo1{
    grid-area: semana;
    grid-column: auto;
    height: 159px;
    border: solid 2px darkblue;

}

.img{
    grid-area: semana2;
    grid-column: auto;

    height: 159px;
    border: solid 2px darkblue;

}
.texto1{
    grid-area: semana3;
    grid-column: auto;
    grid-row: auto;

    height: 159px;
    border: solid 2px darkblue;

}

