#encabezado{
    text-align: center;
    font-weight: 500;
    letter-spacing: 20px;
}
.finalizarbtn{
    padding: 20px;
    
}
#sinAlcohol , #alcohol{
    
    font-size: large;
}
#finalizar{
    text-align: center;
}

.pedidoFinal{
    font-size: x-large;
    font-weight: 500;
    border: solid 2px gray;
}

body{
    border: solid 4px black;
}

footer{
    border: solid 4px gray;
    padding-top: 20px;
}

#comidas{
    padding-top: 20px;
    display: grid;
    grid-template-columns:repeat(5,20%);
    grid-template-areas: 
    "titulo1"
    "id"
    "producto"

    ;
    align-items: center;
    text-align: center; 
    border: solid 5px darkblue;
}


.titulo1{
    grid-area: titulo1;
    grid-column: 1/5;
    grid-row: auto;
    height: 40px;
    border: solid 2px darkblue;
    letter-spacing: 20px;
    font-weight: 700;

}
.id{
    grid-area: id;
    grid-column: 1;
    grid-row: auto;

    height: auto;
    border: solid 2px darkblue;
    font-weight: 500;
    font-size: x-large;
}
.producto{
    grid-area: producto;
    grid-column: 2/4;
    grid-row: auto;
    font-weight: 500;
    font-size: large;
}
.precio{
    grid-area: producto;
    grid-column: 4;
    grid-row: auto;
    font-weight: 500;
    font-size: large;
}
.pedido{
    grid-area: pedido;
    grid-column: 5;
    grid-row: auto;
}

#bebidas{
    padding-top: 20px;
    display: grid;
    grid-template-columns:repeat(5,20%);
    grid-template-areas: 
    "titulo1"
    "id"
    "producto"

    ;
    align-items: center;
    text-align: center; 
    border: solid 5px rgba(120, 72, 231, 0.863);
}
